# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Vim swap files
*.swp

# Makefile is just a symlink
Makefile

# Custom Makefile options per system
Makefile.custom

# Binaries
demo
logger
parser
probabilities
queryStatistics
riskAnalyzer
scanner
sqlassie
test
tunnel

# Flex, Bison, and Lemon output
huginParser.output
huginParser.tab.cpp
huginParser.tab.hpp
huginScanner.yy.cpp
huginScanner.yy.hpp
sqlParser.out
sqlParser.cpp
sqlParser.hpp
scanner.yy.cpp
scanner.yy.hpp
